<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {{args.get('name')[1]}} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{args.get('name')[1]}}">
    <meta name="robots" content="index, follow" />
    <meta name="google" content="notranslate">


    <link rel='icon' href='/static/CanvasWorld/.favicon.ico' type='image/x-icon'>
    <script src="/static/resources/jquery-3.3.1.min.js"></script>
    <script src="/static/resources/highlight.pack.js"></script>
    {% block css %} <link rel="stylesheet" type="text/css" media="screen" href="static/css/attractors_template.css"> {% endblock %}
    <link rel="stylesheet" type="text/css" media="screen" href="static/resources/default.css"> 
    <link rel="stylesheet" type="text/css" media="screen" href="/static/resources/github-markdown.css"> 
    <!-- <script src="/static/resources/p5.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r82/three.min.js"></script>
    <script src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/postprocessing/EffectComposer.js"></script>
    <script src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/shaders/FocusShader.js"></script>
    <script src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/shaders/CopyShader.js"></script>
    <script src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/postprocessing/RenderPass.js"></script>
    <script src="//cdn.rawgit.com/mrdoob/three.js/6c7f000734f8579da37fb39e5c2e9e5e2dfb14f8/examples/js/postprocessing/ShaderPass.js"></script>
    <script src="//cdn.rawgit.com/mrdoob/three.js/dev/examples/js/controls/OrbitControls.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
    <script src="/static/resources/ThreeSetup.js"></script>
 
    {%block head %}{% endblock %}

    <script>let TNAME = ("{{ args.get('name')[1]}}")</script>
    <script src="static/js/template.js"></script>

    <script class= "source" src="/static/CanvasWorld/{{ args.get('name')[1] }}/scripts/index.{% if args.get('v') %}{{args.get('v')}}.{% endif %}js"/></script>
</head>

<body>
    <div id="header">
            <a class="name" href="/">CW</a><a> >> </a> <a href="{{ args.get('name')[0]}}"><h1>{{ args.get('name')[1]}}</h1></a>
            <div id="links"></div>
    </div>
    <div id="code">
        <div class="splitter">
            <div data-href="code">Code</div>
            <div>Readme</div>
        </div>
        <a class="git" target="_blank" href="https://github.com/kgz/CanvasWorld/blob/master/{{args.get('name')[1]}}/scripts/index.js"><img src="/static/images/git1.png"/><br> Github</a>


        <pre class="code"><code></code></pre>
        <!-- <div class="readme">sdafsdaf</div> -->

    </div>
    <div id="canvas"><a id="fps"></a></div>
    <div class="dropdown" style="height: 100%;">
        <div class="dropdown-content" style="display: block;">
        {% for x in args.get('scripts', []) %}
            {% if x[1] == args.get('name')[1] %}
                <button class="dropbtn">{{x[1]}}</button>

            {% else %}
                <a href="{{x[0]}}">{{x[1]}}</a>
            {% endif %}
        {% endfor %}
    </div>
    </div>
    <!--<canvas id="canvasq" ></canvas> -->
</body>

</html>